:root {
    --c-background: #1A120B;
    --c-background-highlight: #3C2A21;
    --c-foreground: #E5E5CB;
    --c-accent: #f1e9ba;
    --c-accent-foreground: #675D50;

    --s-1: 0.25rem;
    --s-2: 0.5rem;
    --s-3: 0.75rem;
    --s-4: 1rem;
    --s-5: 1.5rem;
    --s-6: 2rem;

    --transition: 150ms ease-in-out;
    --b-radius: 0.5rem;

    --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}